.input-group > .form-floating {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group > .form-floating > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-search {
    background-color: #28a745; 
    color: white;
    border: 1px solid #28a745;
    z-index: 2; 
    transition: all 0.3s ease;
}

.btn-search:hover {
    background-color: #1e7e34; 
    color: white;
    border-color: #1c7430;
}

input[readonly] {
    background-color: #e9ecef !important;
    cursor: not-allowed; 
    color: #495057;
}

.card-header {
    background-color: #fff;
    border-bottom: 2px solid #28a745; 
}